.container {
  display: flex;
  height: calc(100vh - 90px);
  padding: 0 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  padding: 5rem 0;
  flex: 1;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  line-height: 1.15;
}
